/* Your Styling */


header {
	background: red;
}

/*Article Headings*/

article section {
	position: relative;

}

article section p {

	margin-top: 45px;

}


article h3 {
	background: #000;
	padding: 4px;

	position: absolute;
	left: -25px;
	top: 0px;


	text-transform: uppercase;
	text-shadow: 3px 3px 10px #fff;
}


/*App*/
article section:nth-child(1) {
	background: grey;
}


/*Entree*/
article section:nth-child(2) {
	background: yellow;
}


/*Dessert*/
article section:nth-child(3) {
	background: grey;

}

/* Drinks */
article section:nth-child(4) {
	background: blue;
}

/*footer*/
footer section:nth-child(1) {

background: pink;

 }

 footer section:nth-child(2) {

background: lime;

 }





